---
import { Table, TableHeader, TableHead, TableBody, TableRow, TableCell } from "../components/ui/table"
import { Badge } from '../components/ui/badge'
import type { ValidatorStatus } from "../types";

type Props = {
  status: ValidatorStatus[];
}

const { status } = Astro.props
---

<Table>
  <TableHeader>
    <TableHead>Chain</TableHead>
    <TableHead>Height</TableHead>
    <TableHead>Moniker</TableHead>
    <TableHead>Bonded</TableHead>
    <TableHead>Uptime</TableHead>
    <TableHead>Nodes</TableHead>
  </TableHeader>
  <TableBody>
    {
      status.map((item) => 
        <TableRow>
          <TableCell>
            {item.name}
            <span class="ml-2">
              <Badge variant='secondary'>{item.chain_id}</Badge>  
            </span>
          </TableCell>  
          <TableCell>{item.height}</TableCell>
          <TableCell>{item.moniker}</TableCell>
          <TableCell>{item.bonded ? "✅" : "❌"}</TableCell>
          <TableCell>{(((item.window - item.missed) / item.window) * 100).toFixed(2)}% ({item.missed}/{item.window})</TableCell>
          <TableCell>{item.healthy_nodes}/{item.nodes}</TableCell>
        </TableRow>
      )
    }
  </TableBody>
</Table>